/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

#navBar {
  position: fixed;
  width: 100vw;
  height: 74px;
  color: #fff;
  border-bottom: 1px solid #e0ba22;
  background-color: #286118; }

#navBar #navButtons ul li {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 74px;
  display: inline-block;
  min-width: 60px;
  max-width: 120px;
  height: 74px;
  margin: 0 17px;
  cursor: pointer;
  vertical-align: middle;
  color: #fff; }

#navBar #goldLine {
  position: absolute;
  top: 0;
  right: 196px;
  width: 1px;
  height: 74px;
  background-color: #e0ba22; }

body {
  margin: 0;
  padding: 0; }

#navBar #navLogo {
  float: left;
  width: 200px;
  height: 74px;
  margin-left: 15px;
  background: url("../../imgs/logoWBTHoriz_100h.png") no-repeat;
  background-position: center;
  background-size: 100%; }

#navBar #navButtons {
  float: right;
  width: 500px;
  height: 74px; }
  #navBar #navButtons ul {
    float: right;
    width: auto;
    height: 100%; }
    #navBar #navButtons ul #navSearch {
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      background: url(../../imgs/iconSearchWhite.png) no-repeat;
      background-position: center;
      background-size: 30%;
      filter: FlipH;
      -ms-filter: 'FlipH'; }
    #navBar #navButtons ul #lineRight {
      margin: 0 34px 0 0; }
    #navBar #navButtons ul #lineLeft {
      margin: 0 0 0 34px; }
