// Mixins SCSS File

@mixin contentRectangle ($rectangleHeight, $rectangleWidth, $rectangleBGColor)
{
    display: inline-block;

    width: $rectangleWidth;
    height: $rectangleHeight;
    margin: 15px;

    vertical-align: top;

    background-color: $rectangleBGColor;
}

@mixin contentSquare ($contentHeight, $contentWidth, $contentBGColor)
{
    display: inline-block;

    width: $contentWidth;
    height: $contentHeight;
    margin: 15px;

    vertical-align: top;

    background-color: $contentBGColor;
}

@mixin contentMix ($contentHeight, $contentWidth, $contentBGColor)
{
    display: inline-block;

    width: $contentWidth;
    height: $contentHeight;

    vertical-align: top;

    background-color: $contentBGColor;
}

@mixin socialMediaIcon($backGround)
{
    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 10px;

    background: url($backGround) no-repeat;
    background-position: center;
    background-size: 50%;
}
