//  PlaceHolders SCSS File

%navBar
{
    position: fixed;

    width: $navWidth;
    height: $navHeight;

    color: $whiteColor;
    border-bottom: $goldBorder;
    background-color: $darkGreen;
}

%navButtons
{
    font-family: $fontHeader;
    font-size: 12px;
    line-height: $navHeight;

    display: inline-block;

    min-width: 60px;
    max-width: 120px;
    height: $navHeight;
    margin: 0 17px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: $whiteColor;
}

%goldLine
{
    position: absolute;
    top: 0;
    right: 214px;

    width: 1px;
    height: $navHeight;

    background-color: $goldColor;
}

%splash
{
    width: $navWidth;
    height: 600px;

    border-bottom: $goldBorder;
    background-color: $darkGreen;
}

%splashText
{
    font-family: $fontHeader;

    display: block;

    width: 90vw;
    height: 30vw;
    margin: 0 auto;
    padding-top: 240px;

    text-align: center;

    color: $whiteColor;
}

%splashButton
{
    line-height: 48px;

    width: 180px;
    height: 48px;
    margin: 0 auto;

    text-align: center;

    color: $greenText;
    border-radius: 4px;
    background-color: $goldColor;
}

%splashContent
{
    width: $navWidth;
    height: auto;

    background-color: $darkGreen;
}

%bigContent
{
    display: inline-block;

    width: $contentRectangle;
    height: $contentRectangle;
    margin: 15px;

    background: url('../../imgs/stockSunsetWheat.jpg') no-repeat;
    background-size: cover;
}

%footer
{
    font-family: $fontBody;
    font-size: 12px;

    width: $navWidth;
    height: $footerHeight;

    vertical-align: top;

    color: $whiteColor;
    border-top: $goldBorder;
    background-color: $darkGreen;
}

%footerWrapper
{
    width: auto;
    height: auto;
    margin: 0 30px;

    vertical-align: top;
}

%footerDiv
{
    display: inline-block;

    width: 100px;
    height: 100%;
    margin: 50px 100px;

    vertical-align: top;
}

%footerHeader
{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 24px;
}

%footerItem
{
    margin-bottom: 15px;
}

%socialMedia
{
    font-family: $fontBody;
    font-size: 14px;

    width: 300px;
    height: 50px;
    margin: 0 auto;

    text-align: center;
}

%formStyleLabel
{
    line-height: 40px;

    width: 400px;
    height: 40px;
    margin-bottom: 18px;

    background-color: $lightGreen;
}
