//  PlaceHolders SCSS File

%navBar
{
    position: fixed;

    width: $navWidth;
    height: $navHeight;

    color: $whiteColor;
    border-bottom: $goldBorder;
    background-color: $darkGreen;
}

%navButtons
{
    font-family: $fontHeader;
    font-size: 12px;
    line-height: $navHeight;

    display: inline-block;

    min-width: 60px;
    max-width: 120px;
    height: $navHeight;
    margin: 0 17px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: $whiteColor;
}

%goldLine
{
    position: absolute;
    top: 0;
    right: 214px;

    width: 1px;
    height: $navHeight;

    background-color: $goldColor;
}

%splash
{
    width: $navWidth;
    height: 600px;

    border-bottom: $goldBorder;
    background-color: $darkGreen;
}

%splashText
{
    font-family: $fontHeader;

    display: block;

    width: 90vw;
    height: 30vw;
    margin: 0 auto;
    padding-top: 220px;

    text-align: center;

    color: $whiteColor;
}

%splashButton
{
    line-height: 48px;

    width: 180px;
    height: 48px;
    margin: 0 auto;

    text-align: center;

    color: $greenText;
    border-radius: 4px;
    background-color: $goldColor;
}

%splashContent
{
    width: $navWidth;
    // change height to auto when we add content
    height: 1000px;

    background-color: $darkGreen;
}
