// Variables SCSS Page

// Color Variables

$darkGreen: #286118;
$greenColor: #95b18d;
$lightGreen: #cbd9c7;
$goldColor: #e0ba22;
$creamColor: #fbf7e4;
$whiteColor: #fff;
$blackColor: #000;

// Size Variables

$navHeight: 74px;
$navWidth: 100vw;
