// Variables SCSS Page

// Color Variables

$greenText: #0a3d11;
$darkGreen: #286118;
$greenColor: #95b18d;
$lightGreen: #cbd9c7;
$goldColor: #e0ba22;
$creamColor: #fbf7e4;
$whiteColor: #fff;
$blackColor: #000;

// Size Variables

$navHeight: 74px;
$navWidth: 100vw;
$contentSquare: 370px;
$contentRectangle: 770px;

// Text Variables

$fontBody: 'Helvetica', sans-serif;
$fontHeader: 'Roboto', sans-serif;

// Border Variables

$goldBorder: 1px solid $goldColor;
