// NavBar Layout File

#navBar
{

    @extend %navBar;

    #navLogo
    {
        float: left;

        width: 200px;
        height: $navHeight;

        background: url('../../imgs/logoWBTHoriz_100h.png') no-repeat;
        background-size: 100%;
        background-position: center;
        margin-left: 15px;
    }

    #navButtons
    {
      height: $navHeight;
      width: 600px;
      float: right;
        ul
        {
            float: right;
            height: $navHeight;
            width: auto;

            li
            {
                @extend %navButtons;
            }

            #navSearch {
              background: url(../../imgs/iconSearchWhite.png) no-repeat;
              background-position: center;
              background-size: 40%;
            }
        }
    }
}
