// Splash Layout Below navBar

#splash
{
    @extend %splash;

    #splashText
    {
        @extend %splashText;

        h1
        {
            font-size: 44px;
            font-weight: 200;

            margin-bottom: 25px;
        }

        h2
        {
            font-size: 24px;
            font-weight: 600;

            margin-bottom: 30px;
        }

        #splashButton
        {
            @extend %splashButton;
        }
    }
}
