// Splash Layout Below navBar

#splash
{
    @extend %splash;

    #splashText
    {
        display: block;

        width: 90vw;
        height: 30vw;
        margin: 0 auto;
        padding-top: 180px;

        text-align: center;

        color: $whiteColor;

        h1
        {
            font-size: 36px;
        }
    }
}
